<?xml version="1.0" encoding="ISO-8859-15"?>
<project name="xp-build-plugin-apidoc">
  <target name="compile"/>
  <target name="clean"/>
  <target name="validate"/>
  <target name="prepare"/>
  <target name="test"/>
  <target name="integration-test"/>
  <target name="pre-package" depends="xp.compile.generate.apidoc"/>
  <target name="package" depends="xp.package.apidoc"/>
  <target name="post-package"/>
  <target name="verify"/>
  <target name="install"/>
  <target name="publish"/>

  <target name="xp.compile.generate.apidoc.check">
    <pathconvert property="xp.forge.apidoc.dependency" setonempty="false">
      <fileset dir="${build.target}" includes="lib/compile/xar/apidoc-*.xar"/>
    </pathconvert>

    <condition property="xp.forge.apidoc.available">
      <and>
        <isset property="build.package"/>
        <not>
          <equals arg1="${build.package}" arg2="" trim="true"/>
        </not>
      </and>
    </condition>
  </target>

  <!--
   ! Generate apidoc for package
   !
   ! This requires that you have:
   ! * a dependency to net.xp_forge#apidoc
   ! * a "package" attribute in your ivy.xml's <info> tag
   ! * have a "compile" configuration
   !
   !-->
  <target name="xp.compile.generate.apidoc" depends="xp.compile.generate.apidoc.check" if="xp.forge.apidoc.available">
    <echo>:: Generating apidoc into ${build.target.reports.documentation}</echo>
    <mkdir dir="${build.target.reports.documentation}"/>
    <tstamp>
      <format property="TODAY" pattern="yyyy-MM-dd HH:mmZZZZZ" locale="en,UK"/>
    </tstamp>

    <exec
     executable="doclet"
     failonerror="true"
     dir="${build.target}/bootstrap/compile"
    >
      <env key="USE_XP" value="${build.target}/bootstrap/compile/"/>
      <arg value="net.xp_forge.apidoc.Doclet"/>
      <arg value="${build.package}.**"/>
      <arg value="-output"/>
      <arg value="${build.target.reports.documentation}"/>
      <arg value="-api"/>
      <arg value="${ivy.organisation}#${ivy.module}"/>
      <arg value="-css"/>
      <arg value="res://css/default.css"/>
      <arg value="-gen"/>
      <arg value="Version ${ivy.new.revision} - generated ${TODAY}"/>
    </exec>
  </target>

  <target name="xp.package.apidoc" extensionOf="package" depends="xp.compile.generate.apidoc.check" if="xp.forge.apidoc.available">
    <zip file="${build.target}/${ivy.module}-apidoc-${ivy.new.revision}.zip" >
      <zipfileset dir="${build.target.reports.documentation}" includes="**/*" prefix="${ivy.module}/"/>
    </zip>
  </target>
</project>