<?xml version="1.0" encoding="ISO-8859-15"?>
<project name="xp-build-plugin-apidoc">
  <target name="compile"/>
  <target name="clean"/>
  <target name="validate"/>
  <target name="prepare"/>
  <target name="test"/>
  <target name="integration-test"/>
  <target name="pre-package" depends="plugin:apidoc:generate"/>
  <target name="package" depends="plugin:apidoc:package"/>
  <target name="post-package"/>
  <target name="verify"/>
  <target name="install"/>
  <target name="publish"/>

  <!--
   ! Generate apidoc for package
   !
   ! This requires that you have:
   ! * a dependency to net.xp_forge#apidoc
   ! * a "package" attribute in your ivy.xml's <info> tag
   ! * have a "compile" configuration
   !
   !-->
  <target name="plugin:apidoc:generate">
    <mkdir dir="${build.target.reports.documentation}"/>
    <tstamp>
      <format property="TODAY" pattern="yyyy-MM-dd HH:mmZZZZZ" locale="en,UK"/>
    </tstamp>

    <condition property="package" value="${build.package}.**" else ="**">
      <isset property="build.package"/>
    </condition>

    <echo>:: Generating apidoc for package ${package}</echo>
    <echo>   to ${build.target.reports.documentation}</echo>
    <exec
     executable="doclet"
     failonerror="true"
     dir="${build.target}/bootstrap/compile"
    >
      <env key="USE_XP" value="${build.target}/bootstrap/compile/"/>
      <arg value="-sp"/>
      <arg value="${build.target.classes}"/>

      <arg value="net.xp_forge.apidoc.Doclet"/>

      <arg line="${package}"/>
      <arg value="-output"/>
      <arg value="${build.target.reports.documentation}"/>
      <arg value="-api"/>
      <arg value="${ivy.organisation}#${ivy.module}"/>
      <arg value="-css"/>
      <arg value="res://css/default.css"/>
      <arg value="-gen"/>
      <arg value="Version ${ivy.new.revision} - generated ${TODAY}"/>
    </exec>
  </target>

  <target name="plugin:apidoc:package">
    <zip file="${build.target}/${ivy.module}-apidoc-${ivy.new.revision}.zip" >
      <zipfileset dir="${build.target.reports.documentation}" includes="**/*" prefix="${ivy.module}/"/>
    </zip>
  </target>
</project>
